* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/pattern.png);
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 700px;
    margin: 0 auto;
}

.car {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 5px 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

.car {
    box-shadow: 5px 6px 18px rgba(0, 0, 0, 0.15);
}

.car-1 {
    background-image: url(../assets/economic-car.png);
    background-size: 120px;
    background-position: right 30px center;
    background-repeat: no-repeat;
}

.car-2 {
    background-image: url(../assets/luxury-car.png);
    background-size: 120px;
    background-position: right 30px center;
    background-repeat: no-repeat;
}

.car-3 {
    background-image: url(../assets/family-car.png);
    background-size: 120px;
    background-position: right 30px center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.economy {
    color: #e67e22;
}

.luxury {
    color: #3f51b5;
}

.family {
    color: #388e3c;
}

a.btn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}

.economyimg {
    background-color: #e67e22;
}

.luxuryimg {
    background-color: #9c27b0;
}

.familyimg {
    background-color: #5d4037;
}

i{
    margin-right: 10px;
}